.section {
  height: 80vh;

  &__line {
    width: 250px;
    height: 10px;
    margin-top: 30px;
    margin-left: 110px;

    border-radius: 30%;
    box-shadow: 2px 2px 9px gray;

    background-color: white;
  }

  &__blocks {
    height: 80%;
    margin-top: 30px;
    margin-left: 100px;

    display: flex;
    justify-content: space-around;
  }

  &__block-1,
  &__block-2 {
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 9px gray;
  }

  &__block-1 {
    width: 35%;
  }

  &__block-2 {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .section {
    &__line {
      margin-left: 70px;
    }

    &__blocks {
      margin-left: 60px;
    }
  }
}